@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1.2;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a {
  color: white;
}

a, a:visited, a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  max-width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
html {
  font-size: 1.3em;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  padding: 5% 0 0 0;
  background-color: #254249;
}

.todo {
  width: 600px;
  margin: 0 auto;
  padding: 1rem;
  background-color: #9ad7fa;
  border-radius: 0.3rem;
  -webkit-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
}

.todo__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.todo__enter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1rem;
}

.todo__input {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  border-radius: 0.2rem;
  padding: 0.3rem 0.6rem;
  font-size: 1rem;
  -webkit-box-shadow: 5px 5px 0 0 black;
          box-shadow: 5px 5px 0 0 black;
}

.todo__input:hover {
  background-color: #eeeeee;
}

.todo__input:focus {
  -webkit-box-shadow: 5px 5px 3px 0 #fbff00;
          box-shadow: 5px 5px 3px 0 #fbff00;
}

.todo__btn {
  padding: 0.3rem 0.6rem;
  font-size: 1rem;
  background-color: #615eff;
  color: white;
  border-radius: 0.2rem;
  -webkit-box-shadow: 5px 5px 0 0 black;
          box-shadow: 5px 5px 0 0 black;
}

.todo__btn:hover {
  background-color: #3f3eac;
}

.todo__btn:focus {
  -webkit-box-shadow: 5px 5px 3px 0 #fbff00;
          box-shadow: 5px 5px 3px 0 #fbff00;
}

.todo__btn:active {
  -webkit-transform: translate(5px, 5px);
          transform: translate(5px, 5px);
  -webkit-box-shadow: 0 0 0 0 black;
          box-shadow: 0 0 0 0 black;
}

.todo__btn_add {
  margin-left: 1rem;
}

.todo__btn_remove {
  margin-top: 1rem;
  margin-left: auto;
  background-color: #d60000;
}

.todo__btn_remove:hover {
  background-color: #a00000;
}

.todo__list {
  color: #313131;
}

.todo__list li {
  line-height: 1.5;
  border-bottom: 2px solid #254249;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 0.3rem;
}

.todo__list li span {
  display: inline-block;
  color: #d60000;
  -webkit-transition: 0.1s ease-in;
  transition: 0.1s ease-in;
}

.todo__list li span:hover {
  cursor: pointer;
  color: #a00000;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.line-through {
  text-decoration: line-through;
  -webkit-text-decoration-color: #d60000;
          text-decoration-color: #d60000;
}

li {
  -webkit-animation: scale-in-ver-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
          animation: scale-in-ver-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes scale-in-ver-top {
  0% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
    -webkit-transform-origin: 100% 0;
            transform-origin: 100% 0;
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    -webkit-transform-origin: 100% 0;
            transform-origin: 100% 0;
    opacity: 1;
  }
}

@keyframes scale-in-ver-top {
  0% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
    -webkit-transform-origin: 100% 0;
            transform-origin: 100% 0;
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    -webkit-transform-origin: 100% 0;
            transform-origin: 100% 0;
    opacity: 1;
  }
}

.out {
  -webkit-animation: fade-out-bck 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
          animation: fade-out-bck 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes fade-out-bck {
  0% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateZ(-80px);
            transform: translateZ(-80px);
    opacity: 0;
  }
}

@keyframes fade-out-bck {
  0% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateZ(-80px);
            transform: translateZ(-80px);
    opacity: 0;
  }
}
/*# sourceMappingURL=style.css.map */